:root{

    --cor-background-principal: #E25822;
    --cor-titulo-principal: #F7DC0F;
    --cor-texto-primario: #a50606;
    --cor-botao-basica: #4c9e00;
    --cor-botao-basica-hover: #3d7e00;
    --cor-botao-basica-hover-border: #306400;
    --cor-texto-botao-basica: #000000;
    --cor-botao-especial: #4e59e9;
    --cor-botao-especial-hover: #3d46ca;
    --cor-botao-especial-hover-border: #2d36b1;
    --cor-texto-botao-especial: #ffffff;
    --cor-input-hover: #f5f1f1;
    --cor-footer: #E25822;
    --cor-valor-positivo: #6acf86;
    --cor-valor-negativo: #ff59f9;
   
    /*tamanho da fonte padrao 16px - 100% - 1rem*/
    font-size: 60%; /*controles da medida em rem*/
}

body {
   background-color: var(--cor-background-principal);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

html, body {    
    width: 100vw;
}

body, label, input {
    font: 500 1.6rem Audiowide;    
}

.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 2rem auto;
    width: 90vw;
    max-width: 700px;
    text-align: center;
    color: var(--cor-texto-primario);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-titulo-principal);
    font-size: 2.4rem;

}

.cabecalho h1 {
    margin-right: 1rem;
}

.cabecalho img{
    height: 13rem;
    display: none;
}


@media screen and (min-width: 680px) {
    .cabecalho {
        font-size: 2.6rem;
    }
    
    .cabecalho img {
        display: initial;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        font-size: 3rem;
        margin-top: 3rem;
    }
    
}